<section class="hero">
<!--     
    <picture>
        <img class="hero__home--subtract subtract" srcset="
        ./images/hero-black-desk.png    1x,
        ./images/hero-black-desk2x.png 2x
      " src="./images/hero-black-desk.png" alt="subtract" />
    </picture> -->

    
        <div class="container">
            <div class="hero__wrapper">
                <h1 class="hero__title">Let’s Make Your Own Cinema</h1>
                <p class="hero__text paragraphs">
                    Is a guide to creating a personalized movie theater experience. You'll
                    need a projector, screen, and speakers.
                    <span class="hero-text-more">Decorate your space, choose your films, and stock up on snacks for
                        the full experience.</span>
                </p>
                <a href="./catalog.html" class="hero__btn buttons">Get Started</a>
            </div>
        </div>
    

</section>


