<div class="backdrop" data-source>
  <!-- <div class="modal">
    <button class="button__close" type="button">
      <svg>
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <img class="modal__img" src="#" alt="#">
    <div class="modal__items">
      <h1 class="modal__title">John Wick: Chapter 4</h1>
      <p class="modal__rating">Vote / Votes
        <span class="modal__rating_span">
          <span class="rating">7.3</span> /
          <span class="rating">1260</span>
        </span>
      </p>
      <p class="modal__popularity">Popularity <span>100.2</span> </p>
      <p class="modal__genre">Genre <span>Action Thriller Crime</span></p>
      <p class="modal__about">ABOUT</p>
      <p class="modal__description">John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the upcoming
        fourth
        instalment of the
        series.
        With
        the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can
        earn
        his
        freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn
        old
        friends into foes.</p>
      <button class="button__add" type="button"><span class="button__text">Add to my library</span> </button>
    </div>
  </div> -->
</div>