<div class="backdrop is-hidden" data-action="deleted-class">
  <div class="footer-modal">
    <button type="button" class="footer-modal__close-btn">
      <img
        class="footer-modal__close-icon"
        src="./images/symbol-defs.svg#icon-close"
        width="30px"
        height="30px"
        alt="#"
      />
    </button>
    <h2 class="footer-modal__title">Our Team</h2>
    <ul class="footer-modal__container">
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Vira Zhuhan</h3>
            <p class="footer-modal__role">Team Lead</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Ilona Cheptsova</h3>
            <p class="footer-modal__role">Scrum master</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Vita Nychvoloda</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Volodymyr Popovych</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Artem Podoliak</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Serhii Klokun</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Olexander Yusov</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Ivan Darmovis</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Igor Doroshenko</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Olena Husliakova</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="footer-modal__box">
        <div class="footer-modal__img-thumb">
          <img
            loading="lazy"
            class="footer-modal__pic"
            src="./images/image-modal.jpg"
            alt="Teammate photo"
          />
        </div>
        <div class="footer-modal__thumb">
          <span></span>
          <div class="footer-modal__content">
            <h3 class="footer-modal__name">Tanya Bushmakina</h3>
            <p class="footer-modal__role">Frontend Developer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
