<section class="search">
  <div class="search-wrapper">
        <form class="search-form" id="search-form">
        <input
          class="search-input-field"
          type="text"
          name="search"
          id="search-input"
          placeholder="Search"
          autocomplete="off"
        />
        <button class="search-button" type="submit" aria-label="search button">
          <svg class="icon-search" width="20" height="20">
            <use
              xlink:href="./images/symbol-defs.svg#icon-search"
              alt="Search icon"
            ></use>
          </svg>
        </button>
    </form>

  </div>

  
</section>

<section class="card-catalog">
  <div class="container">
    <ul class="gallery gallery-catalog" id="movie-list">
    </ul>
  </div>
</section>


