<div class="alarm">
  <form class="filmFormWide" autocomplete="off">
    <div class="filmFormWide__film-div">
      <input
        class="filmFormWide__film-input"
        type="text"
        name="query"
        title="Enter Film Title please"
        placeholder="Film"
      />
      <!-- <label class="filmFormWide__film-label" for="query">Film</label> -->
    </div>

    <div class="filmFormWide__year-div">
      <input
        class="filmFormWide__year-input"
        type="text"
        name="year"
        title="Enter Year please"
        placeholder="Year"
      />
      <ul id="year_ul">
        <li id="year_li_1">000</li>
        <li id="year_li_2">000</li>
        <li id="year_li_3">000</li>
        <li id="year_li_4">000</li>
      </ul>
    </div>

    <div class="filmFormWide__genre-div">
      <input
        class="filmFormWide__genre-input"
        type="text"
        name="genre"
        title="Enter Genre please"
        placeholder="Genre"
      />
      <ul id="genre_ul">
        <li id="genre_li_1">000</li>
        <li id="genre_li_2">000</li>
        <li id="genre_li_3">000</li>
        <li id="genre_li_4">000</li>
      </ul>
    </div>

    <div class="filmFormWide__country-div">
      <input
        class="filmFormWide__country-input"
        type="text"
        name="country"
        title="Enter Country please"
        placeholder="Country"
      />
      <ul id="country_ul">
        <li id="country_li_1">000</li>
        <li id="country_li_2">000</li>
        <li id="country_li_3">000</li>
        <li id="country_li_4">000</li>
      </ul>
    </div>

    <button class="filmFormWide__btn" type="submit">
      <svg>
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</div>
