.search-form {
        
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
    
        position: absolute;
        width: 398px;
        height: 48px;
        left: 441px;
        top: 800px;
}

.search-input-field {
    //display: flex;
    align-items: center;
    place-content: center;
        
}

.search-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 4px;
    
}

.search-button {
    padding: center;
    gap: 10px;
    margin-left: 21px;
    margin-top: 20px;
    width: 48px;
    height: 48px;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 50px;
    border: none;
}

.icon-search {
    width: 20px;
    height: 20px;
}


.movie-list {
    margin-top: 20px;
}

