// body{
//  background-color: $color-bg-primary;
// }
.upcoming{
  position: relative;
  max-width: 320px;
  padding-top: 32px;
  padding-bottom: 24px;
  background-color: $color-bg-primary; 
}
.upcoming__title{
    position: absolute;
    
    @include font-title($fs:16, $lh:1.19, $ls:0);
    text-transform: uppercase;
    color: $color-text;
    left: 0px;
    top: 0px;

    padding: 32px 106px 24px 20px;
    
    }
    
    .upcoming__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 12px 24px;
    gap: 10px;
    margin-left: 21px;  
    margin-top: 20px;
    // position: absolute;
    width: 119px;
    height: 40px;
    // left: 853px;
    // top: 1973px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 74px;
    border: none;
    }
    